.services__inner {
    position: relative;
}

.services {
    margin-bottom: 235px;
}

.service__title {
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    align-items: center;
    text-align: center;
    color: #333333;
}

.services__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.services__item {
    position: relative;
    margin: 0;
    margin-right: 13px;
    padding: 129px 32px 30px 35px;
    width: 193px;
    height: 201px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #F3F3F3;
    border-radius: 5px; 
}

.services__item--first {
    position: relative;
    margin: 0;
    margin-right: 13px;
    padding: 129px 32px 28px 35px;
    width: 193px;
    height: 215px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #F3F3F3;
    border-radius: 5px 5px 0px 0px;
}

.services__item:nth-child(1) {
    &::before {
        display: block;
        position: absolute;
        background-image: url(../../images/services-1.svg);
        background-repeat: no-repeat;
        background-size: 54px 77px;
        top: 30px;
        left: 75px;
        width: 54px;
        height: 77px;
        content: '';
    }
}

.services__item:nth-child(2) {
    &::before {
        display: block;
        position: absolute;
        background-image: url(../../images/services-2.svg);
        background-repeat: no-repeat;
        background-size: 53px 77px;
        top: 30px;
        left: 68px;
        width: 53px;
        height: 77px;
        content: '';
    }
}

.services__item:nth-child(3) {
    &::before {
        display: block;
        position: absolute;
        background-image: url(../../images/services-3.svg);
        background-repeat: no-repeat;
        background-size: 72px 77px;
        top: 30px;
        left: 55px;
        width: 72px;
        height: 77px;
        content: '';
    }
}

.services__item:nth-child(4) {
    &::before {
        display: block;
        position: absolute;
        background-image: url(../../images/services-4.svg);
        background-repeat: no-repeat;
        background-size: 76;
        top: 30px;
        left: 50px;
        width: 76px;
        height: 76px;
        content: '';
    }
}

.services__item:nth-child(5) {
    &::before {
        display: block;
        position: absolute;
        background-image: url(../../images/services-5.svg);
        background-repeat: no-repeat;
        background-size: 78;
        top: 30px;
        left: 50px;
        width: 78px;
        height: 78px;
        content: '';
    }
}

.services__item:nth-child(6) {
    &::before {
        display: block;
        position: absolute;
        background-image: url(../../images/services-6.svg);
        background-repeat: no-repeat;
        background-size: 76;
        top: 30px;
        left: 55px;
        width: 76px;
        height: 76px;
        content: '';
    }
}

.services__item:hover {
    opacity: 0.8;
}

.services__item:active {
    opacity: 0.6;
}


.services__button--left {
    position: absolute;
    background-image: url(../../images/button-left.png);
    background-repeat: no-repeat;
    background-size: 14px 26px;
    background-position: center;
    width: 50px;
    height: 50px;
    top: 210px;
    left: -30px;
    border: none;
    background-color: transparent;
}

.services__button--right {
    position: absolute;
    background-image: url(../../images/button-right.png);
    background-repeat: no-repeat;
    background-size: 14px 26px;
    background-position: center;
    width: 50px;
    height: 50px;
    top: 210px;
    right: -20px;
    border: none;
    background-color: transparent;
}

.services__button--left:hover {
    background-color: #fff;
}

.services__button--right:hover {
    background-color: #fff;
}

.services__button--left:active {
    opacity: 0.6;
}

.services__button--right:active {
    opacity: 0.6;
}

.services__text {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
}

.services-bottom {
    margin: 0 auto 0 38px;
    display: flex;
    align-items: center;
    width: 1223px;
    padding: 41px 80px 41px 35px;
    background-color: #fff;
    border-radius: 0px 5px 5px 5px;
}

.services-bottom__info {
    margin-left: 67px;
    width: 492px;
}

.services-bottom-title {
    margin: 0;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #333333;
}

.services-bottom__text {
    margin: 0;
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.services-bottom__link--first {
    position: relative;
    padding: 15px 36px 15px 63px;
    background-color: #FFBD54;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.services-bottom__link--first:hover {
    opacity: 0.8;
}
.services-bottom__link--first:active {
    opacity: 0.6;
}

.services-bottom__link--first::before {
    display: block;
    background-image: url(../../images/bottom-money.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    height: 21px;
    position: absolute;
    left: 35px;
    content: '';
}

.services-bottom__link--second {
    position: relative;
    margin-left: 21px;
    text-decoration: none;
    padding: 15px 37px 15px 64px;
    background-color: #333333;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.services-bottom__link--second:hover {
    opacity: 0.8;
} 

.services-bottom__link--second:active {
    opacity: 0.6;
} 

.services-bottom__link--second::before {
    display: block;
    background-image: url(../../images/bottom-document.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    height: 21px;
    position: absolute;
    left: 35px;
    top: 13px;
    content: '';
}